body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

ul.assignment {
    list-style-type: none;
    padding: 0;
}

li.assignment {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

ul.inline-links {
    display: inline;
    list-style-type: none;
    padding: 0px;
}

li.inline-links {
    display: inline;
    margin: 0px;
}

li.inline-links:not(:first-of-type) {
    margin-left: 5px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    display: inline;
    width: auto;
    float: left;
    margin: auto;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

a {
    color: #1E90FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.addButton {

}

.header {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.savedURL {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

button.danger {
    background: red;
}